* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.headeer {
    display: flex;
    justify-content: center;
    background-color: #f9d99c;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    margin: 10px;
}

.login {
    margin-right: 20px;
}

.imgh {
    border-radius: 50px;
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
}

header {
    background-image: url("../img/image2.png");
    background-repeat: no-repeat;
}

.loginn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-image: url("../img/image6.png");
    background-position: center;
}

.lo1 {
    align-self: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s1h {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: flex-end;

}

.sl1 {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #fdda99;

}

.busqueda {
    display: flex;
    padding-left: 15px;
    height: 30px;
    margin-top: 0px;
}

main {
    background-image: url("../img/image3.png");
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    height: 1300px;
}

footer {
    background-image: url("../img/image2.png");
    height: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-vertical {
    background-color: antiquewhite;
    padding: 20px;
    width: 240px;
}

.categorias {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias li {
    margin-bottom: 10px;
}

.categoria {
    display: block;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

.log11 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 85vh;
    background-image: url("../img/image5.png");
}

.reg11 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 85vh;
}

.regg {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.regdiv {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
}

.logdiv {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btn {
    margin-bottom: 0;
    background-color: rgba(24, 210, 24, 0.694);
    text-align: center;
}

.linka {
    text-align: center;
}

.mainproduct {
    display: flex;
}

.mainindex {
    display: flex;
    min-height: 100vh;
    flex: 1;
    display: flex;
    background-size: cover;
}

.randomp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 70px;
}

.imadiv {
    height: 200px;
    width: 200px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 15px;
    justify-content: center;
    align-self: center;
    text-align: center;
    border: solid 2px;
}

.imgin {
    height: 100px;
    width: 90px;
    margin-top: 5px;
}

.masp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.maincategory {
    display: flex;
}

.imagencategory {
    height: 200px;
    width: 200px;
}

.producto {
    height: 300px;
    width: 300px;
    margin: 30px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 15px;
    justify-content: center;
    align-self: center;
    text-align: center;
    border: solid 2px;
}

.productos {
    display: flex;
    flex-direction: row;
    margin: 0px;
    flex-wrap: wrap;
}

.tituloproducto {
    font-size: 25px;
}

.mainresultados {
    display: flex;
    flex-direction: column;
}

.cajas {
    background-color: rgba(255, 166, 0, 0.534);

}

.padre-product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.img-product {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    border: 2px black solid;
    border-radius: 5%;
}

.product-div1 {
    display: flex;
}

.detalles {
    font-size: xx-large;
    margin-left: 10px;
    padding-bottom: 30px;
}

.product-div2 {
    display: flex;
    flex-direction: column;
}

.nombrebeauty {
    height: 30px;
    margin: 10px;
    font-size: 30px;
    margin-left: 40px;
}

button {
    background-color: rgb(235 134 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tags {
    display: flex;
    padding-bottom: 10px;
}

.tags2 {
    display: flex;
    margin-right: 10px;
}

.product-div3 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.padding-productos {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: larger;
}

.estructura-busqueda {
    height: 250px;
    width: 250px;
    padding-top: 30px;
    margin-bottom: 100px;
}

.h1-product {
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.h2-product {
    margin-left: 15px;
    margin-bottom: 10px;
}

.titulo-resultado {
    padding-top: 40px;
    padding-left: 20px;
}
.margin{
    margin-top: 150px;
}

.listanav{
    display: flex;
    
}

li{
    text-decoration: none;
}



.error{
    display: none;
    font-size: 40px;
    justify-content: center;
    align-self: center;
    font-weight: bold;
}














@media (max-width: 768px) {
    .imadiv {
        width: 140px;
        height: 140px;
        margin-right: 7px;
        margin-bottom: 25px;
    }

    .imgin {
        width: 50px;
        height: 50px;
    }

    .randomp {
        margin-bottom: 70px;
        margin-top: 80px;
    }

    .masp {
        margin-top: 70px;
    }

    .nav-vertical {
        width: 180px;
    }
    .img-product{
        width: 550px;
        height: 550px;
    }
    .product-div1{
        display: flex;
        flex-direction: column;
    }
    .estructura-busqueda{
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
    }
    .tituloproducto{
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    
    .prodcutos{
        flex-direction: row;


    }
    .imagencategory{
        margin-top: 10;
        height: 150px;
        width: 150px;
     
    }

    .producto{
        height: 210px;
        width: 210px;
    }
}


