.headeer {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;

}

.login {
    margin-right: 20px;
}

.imgh {
    border-radius: 50px;
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;

}

header {
    background-image: url(../img/image2.png);
    background-repeat: no-repeat;

}

.loginn {

    justify-content: flex-start;
    background-image: url(../img/image3.png);
    align-self: center;
    
}

.lo1 {
    align-self: center;
    justify-content: flex-start;
}

.s1h {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
}

.sl1 {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
}

.buscador {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 120px;
}

main {
    background-image: url(../img/image3.png);
    height: 85vh;
}

footer {
    background-image: url(../img/image2.png);
    height: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-vertical{
  background-color: antiquewhite; 
  padding: 20px;
  width: 240px;       
}

.categorias {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.categoria {
  display: block;           
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;       
  border-radius: 4px;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
}

.categoria:hover {
  background-color: darkorange;
}
.log11{
    display: flex;
    justify-content: center;
    align-self: center;
}
.reg11{
    display: flex;
    justify-content: center;
    align-self: center;
}
.regg{
    align-self: center;
}
.regdiv{
    margin-bottom: 10px;
}
.logdiv{
    margin-bottom: 10px;
}