* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-right: 5px;
}

.headeer {
    display: flex;
    justify-content: center;
    background-color: #f9d99c;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    margin: 10px;
}

.login {
    margin-right: 20px;
}

.imgh {
    border-radius: 50px;
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;

}

header {
    background-image: url(../img/image2.png);
    background-repeat: no-repeat;

}

.loginn {
    justify-content: flex-start;
    align-self: center;
    background-color:white;
    height: 694px;
    width: 500px;
   
}

.lo1 {
    align-self: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s1h {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: flex-end;

}

.sl1 {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    background-color: #f9d99c;
}

.busqueda {
    display: flex;
    padding-left: 15px;
}

main {
    background-image: url(../img/image3.png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;

}

footer {
    background-image: url(../img/image2.png);
    height: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-vertical {
    background-color: antiquewhite;
    padding: 20px;
    width: 240px;
}

.categorias {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;

}

.categoria {
    display: block;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

.log11 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 85vh;
}

.reg11 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 85vh;
}

.regg {
    align-self: center;
}

.regdiv {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
}

.logdiv {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.mainproduct {
    display: flex;
}

.mainindex {
    display: flex;
    min-height: 100vh;
    flex: 1;
    display: flex;
    background-size: cover;
}

.randomp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 70px;
}

.imadiv {
    height: 200px;
    width: 200px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 15px;
    justify-content: center;
    align-self: center;
    text-align: center;
    border: solid 2px;
}

.imgin {
    height: 100px;
    width: 90px;
    margin-top: 5px;
}

.masp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.maincategory {
    display: flex;
}

.imagencategory {
    height: 150px;
    width: 150px;
}

.producto {
    height: 200px;
    width: 200px;
}

.productos {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.mainresultados {
    display: flex;
    flex-direction: column;
}

.cajas {
    background-color: rgba(255, 166, 0, 0.534);

}

.padre-product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.img-product {
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

.product-div1 {
    display: flex;
}

.detalles {
    font-size: x-large;
    margin-left: 10px;
}

.product-div2 {
    display: flex;
    flex-direction: column;
}


.footer1 {
    -ms-text-size-adjust: 5%;
}

.nombrebeauty {
    background-color: rgb(233, 231, 227);
    height: 30px;
    margin: 10px;
}

button {
    background-color: rgb(235 134 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
}